<%= form_with(model: cloth_review, local: true) do |form| %>
  <% if cloth_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cloth_review.errors.count, "error") %> prohibited this cloth_review from being saved:</h2>

      <ul>
        <% cloth_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :cloth_id %>
    <%= form.number_field :cloth_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
