<p id="notice"><%= notice %></p>

<h1>Cloths</h1>
<div class="row">
　<% @cloths.each do |cloth| %>
　　<div class="col-md-3">
      <div class="card img-thumbnail">
        <% if cloth.image.attached? %>
          <%= image_tag cloth.image, class: "card-img" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= cloth.title %></h5>
          <p class="card-text text-muted">服の数：<%= cloth.number_of_cloths %></p>
        </div>
        <div class="card-body">
          <%= button_to "詳細を見る", cloth, method: :get, class: "btn btn-outline-secondary btn-sm" =%>
        </div>
      </div>
    </div>
  <% end %>
</div>

</br>
<%= button_to "服を追加する", new_cloth_path, method: :get ,class: "btn btn-primary btn-sm" %> 