<!DOCTYPE html>
<html>
  <head>
    <title>Ourfirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-toggler navbar-dark bg-success">
      <%= link_to "Cloth Review - Make your closet become better than ever", root_path, class: "nav-link navbar-brand" %>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li style="display: block;" class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li style="display: block;" class="nav-item">
            <%= link_to "Cloth", cloths_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li style="display: block;" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/users/show" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to current_user.name , users_show_path %>
                <div class="dropdown-divider"></div>
                <%= link_to "Sign out" , destroy_user_session_path, method: :delete, class: "dropdown-item"%>
              </div>
            </li>
          <% else %>
            <li style="display: block;" class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>